<a href="#/">Go Back</a>
<div class="panel panel-default" >
    <div class="panel-heading">
        <h3 class="panel-title">Add event</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <form ng-submit="addEvent()" name="myForm" novalidate>
                    <div class="form-group">
                        <label>Title</label>
                        <input type="text" class="form-control" ng-model="event.eventTitle" placeholder="Title"  required>
                        <span ng-show="!event.eventTitle">* Required</span>
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <input type="text" class="form-control" ng-model="event.eventDescription" placeholder="Description"  required>
                        <span ng-show="!event.eventDescription">* Required</span>
                    </div>
                    <div class="form-group">
                        <label>Place</label>
                        <input type="text" class="form-control" ng-model="event.eventPlace" placeholder="Place"  required>
                        <span ng-show="!event.eventPlace">* Required</span>
                    </div>
                    <div class="form-group" >
                        <label>Start At</label>
                        <input class="form-control"
                               ng-model="event.startsAt"
                               ng-model-options="{ updateOn: 'blur' }"
                               placeholder="Select A Date"
                               moment-picker="event.startsAt">
                        <span ng-show="!event.startsAt">* Required</span>
                    </div>

                    <div class="form-group" >
                        <label>END At</label>
                        <input class="form-control"
                               ng-model="event.endsAt"
                               ng-model-options="{ updateOn: 'blur' }"
                               placeholder="Select A Date"
                               moment-picker="event.endsAt">
                        <span ng-show="!event.endsAt">* Required</span>
                    </div>
                    <button type="submit" class="btn btn-default"
                            ng-disabled="!event.startsAt || !event.endsAt || !event.eventPlace || !event.eventDescription || !event.eventTitle">
                        Submit
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>