
<div ng-init="getEvents()">
    <h2 class="text-center">{{ calendarTitle }}</h2>

    <div class="row">

        <div class="col-md-6 text-center">
            <div class="btn-group">

                <button
                        class="btn btn-primary"
                        mwl-date-modifier
                        date="viewDate"
                        decrement="calendarView"
                        ng-click="cellIsOpen = false">
                    Previous
                </button>
                <button
                        class="btn btn-default"
                        mwl-date-modifier
                        date="viewDate"
                        set-to-today
                        ng-click="cellIsOpen = false">
                    Today
                </button>
                <button
                        class="btn btn-primary"
                        mwl-date-modifier
                        date="viewDate"
                        increment="calendarView"
                        ng-click="cellIsOpen = false">
                    Next
                </button>
            </div>
        </div>

        <br class="visible-xs visible-sm">

        <div class="col-md-6 text-center">
            <div class="btn-group">
                <label class="btn btn-primary" ng-model="calendarView" uib-btn-radio="'year'" ng-click="changeCalenderView('year')">Year</label>
                <label class="btn btn-primary" ng-model="calendarView" uib-btn-radio="'month'" ng-click="changeCalenderView('month')">Month</label>
                <label class="btn btn-primary" ng-model="calendarView" uib-btn-radio="'week'" ng-click="changeCalenderView('week')">Week</label>
                <label class="btn btn-primary" ng-model="calendarView" uib-btn-radio="'day'" ng-click="changeCalenderView('day')">Day</label>
            </div>
        </div>

    </div>

    <br>

    <mwl-calendar
            events="events"
            view="calendarView"
            view-title="calendarTitle"
            view-date="viewDate"
            on-event-click="eventClicked(calendarEvent)"
            on-event-times-changed="eventTimesChanged(calendarEvent); calendarEvent.startsAt = calendarNewEventStart; calendarEvent.endsAt = calendarNewEventEnd"
            cell-is-open="cellIsOpen"
            day-view-start="00:00"
            day-view-end="23:59"
            day-view-split="30"

            cell-auto-open-disabled="false"
            on-timespan-click="timespanClicked(calendarDate, calendarCell)">
    </mwl-calendar>

    <br><br><br>
</div>